<html>
  <head>

  </head>
  <body>
    <h1>Here are all of the current restaurants available</h1>

    <br>

    <a href="{{url_for('CreateRestaurant')}}">Add a new restaurant</a>

    <br>

    {% with alerts = get_flashed_messages() %}
    {% if alerts %}
    <ul>
      {% for alert in alerts %}
      <li>
        {{alert}}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <br>

    {% for restaurant in restaurants %}

      <table>
        <tr>
          <td>
            {{restaurant.name}}
          </td>
        </tr>
        <tr>
          <td>
            <a href="{{url_for('ViewRestaurant', restaurant_id = restaurant.id)}}">View</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{{url_for('DisplayDishes', restaurant_id = restaurant.id)}}">Dishes</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{{url_for('DeleteRestaurant', restaurant_id = restaurant.id)}}">Delete</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{{url_for('EditRestaurant', restaurant_id = restaurant.id)}}">Edit</a>
          </td>
        </tr>
      </table>
      <br>
      <br>

    {% endfor %}

    <!--{% for restaurant in restaurants %}
      {{restaurant.name}}
      <br>
      {{restaurant.city}}, {{restaurant.state}}
      <br>
      <a href="{{url_for('DisplayDishes', restaurant_id = restaurant.id)}}">View Dishes</a>
      <br>
      <a href="{{url_for('DeleteRestaurant', restaurant_id = restaurant.id)}}">Delete</a>
      <a href="{{url_for('EditRestaurant', restaurant_id = restaurant.id)}}">Edit</a>
      <br>
      <br>
    {% endfor %}-->

  </body>
</html>
