<html>
  <head>

  </head>
  <body>
    <h1>Here are all of the current restaurants available</h1>

    <br>

    <a href="{{url_for('CreateRestaurant')}}">Add a new restaurant</a>

    <br>

    {% with alerts = get_flashed_messages() %}
    {% if alerts %}
    <ul>
      {% for alert in alerts %}
      <li>
        {{alert}}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <br>

    {% for restaurant in restaurants %}
      {{restaurant.name}}
      <br>
      {{restaurant.city}}, {{restaurant.state}}
      <br>
      <a href="{{url_for('DisplayDishes', restaurant_id = restaurant.id)}}">View Dishes</a>
      <br>
      <br>
    {% endfor %}

  </body>
</html>
