<html>
  <head>

  </head>
  <body>
    <h1>Here are all of the dishes for {{restaurant.name}}</h1>

    <br>

    <a href="{{url_for('CreateDish', restaurant_id = restaurant.id)}}">Add a new dish</a>

    <br>

    {% with alerts = get_flashed_messages() %}
    {% if alerts %}
    <ul>
      {% for alert in alerts %}
      <li>
        {{alert}}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <br>

    {% for dish in dishes %}
      {{dish.name}} - 	&#36;{{dish.price}}
      <br>
      {{dish.description}}
      <br>
      <br>
    {% endfor %}

    <br>

    <a href="{{url_for('DisplayRestaurant')}}">Back to Restaurants</a>

    <br>

  </body>
</html>
