<html>
  <head>

  </head>
  <body>
    <h1>Edit {{dish.name}} Information</h1>
    <h2>Please fill out the entire form</h2>

    <form action="{{url_for('EditDish', restaurant_id = restaurant_id, dish_id = dish.id)}}" method="POST">
      <table>
        <tr>
          <td>Name</td>
          <td><input type="text" name="name" value="{{dish.name}}"></td>
        </tr>
        <tr>
          <td>Price</td>
          <td><input type="text" name="price" value="{{dish.price}}"></td>
        </tr>
        <tr>
          <td>Description</td>
          <td><input type="text" name="description" value="{{dish.description}}"></td>
        </tr>
        <tr>
          <td><input type="submit" name="Edit"></td>
        </tr>
      </table>
    </form>

  </body>
</html>
