<html>
  <head>

  </head>
  <body>
    <h1>Rate the Restaurant</h1>
    <h2>Please fill out the entire form</h2>

    <form action="{{url_for('RateRestaurant', restaurant_id = restaurant_id)}}" method="POST">
      <table>
        <tr>
          <td>Food</td>
          <td><input type="radio" name="food_rating" value="Not Satisfied">Not Satisfied</td>
          <td><input type="radio" name="food_rating" value="Satisfied">Satisfied</td>
          <td><input type="radio" name="food_rating" value="Very Satisfied">Very Satisfied</td>
        </tr>
        <tr>
          <td>Service</td>
          <td><input type="radio" name="service_rating" value="Not Satisfied">Not Satisfied</td>
          <td><input type="radio" name="service_rating" value="Satisfied">Satisfied</td>
          <td><input type="radio" name="service_rating" value="Very Satisfied">Very Satisfied</td>
        </tr>
        <tr>
          <td>Pricing</td>
          <td><input type="radio" name="pricing_rating" value="Not Satisfied">Not Satisfied</td>
          <td><input type="radio" name="pricing_rating" value="Satisfied">Satisfied</td>
          <td><input type="radio" name="pricing_rating" value="Very Satisfied">Very Satisfied</td>
        </tr>
        <tr>
          <td>Location</td>
          <td><input type="radio" name="location_rating" value="Not Satisfied">Not Satisfied</td>
          <td><input type="radio" name="location_rating" value="Satisfied">Satisfied</td>
          <td><input type="radio" name="location_rating" value="Very Satisfied">Very Satisfied</td>
        </tr>
        <tr>
          <td>Access</td>
          <td><input type="radio" name="access_rating" value="Not Satisfied">Not Satisfied</td>
          <td><input type="radio" name="access_rating" value="Satisfied">Satisfied</td>
          <td><input type="radio" name="access_rating" value="Very Satisfied">Very Satisfied</td>
        </tr>
        <tr>
          <td><input type="submit" name="Submit"></td>
        </tr>
      </table>
    </form>

  </body>
</html>
