<html>
  <body>

    <h1>This page is wwhere tabs are edited</h1>
    <form action="{{url_for('EditTabEvent', user_id = user_id, tab_id = item.id)}}" method="POST">
      <table>
        <tr>
          <td>Username</td>
          <td><input type="text" name="name"></td>
        </tr>
        <tr>
          <td>Amount</td>
          <td><input type="text" name="amount", value="{{item.amount}}"></td>
        </tr>
        <tr>
          <td>Description</td>
          <td><input type="text" name="description", value="{{item.description}}"></td>
        </tr>
        <tr>
          <td><input type="Radio">Personal</td>
          <td><input type="Radio">Business</td>
        </tr>
        <tr>
          <td><input type="submit" value="Edit Tab"></td>
        </tr>
      </table>
    </form>

  </body>
</html>
