<html>
  <body>

    <h1>Welcome {{user.username}}</h1>
    <p>Here are all of your open tabs that you have</p>

    <a href="{{url_for('AddNewTab', user_id = user.id)}}">Create New Tab</a>
    <br>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
          <li><stron>{{message}}</stron></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <br>
    <br>
    {% for i in items %}
      {{i.id}}.{{i.description}}
      <br>
      {{i.amount}}
      <br>
      <a href="{{url_for('EditTabEvent', user_id = user.id, tab_id = i.id)}}">Edit</a>
      <br>
      <a href="{{url_for('DeleteTabEvent', user_id = user.id, tab_id = i.id)}}">Delete</a>
      <br>
      <br>
    {% endfor %}

  </body>
</html>
