<html>
  <head>

  </head>
  <body>
    <form action="{{url_for('AddItem')}}" method="POST">
      Item Title:
      <input type="text" name="title"><br>
      Item Description:
      <input type="text" name="description"><br>
      Item Category:
      <select name="category_name">
        {% for category in categories %}
        <option value="{{category.category}}">{{category.category}}</option>
        {% endfor %}
      </select><br>
      <input type="submit" name="Submit">
    </form>
  </body>
</html>
