{% extends 'Header.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-2 white center fullheight border-right">
      <h1>Catalog</h1>
      <a href="{{url_for('gdisconnect')}}">logout</a>
      <table class="center fullwidth category-margin">
        <tr>
          <td>
            <h2>Categories</h2>
          </td>
        </tr>
        {% for category in categories %}
        <tr>
          <td>
            <a href="{{url_for('ShowItems', category = category.category)}}">{{category.category}}</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="col-md-10 white fullheight">
      <h1>
        Delete {{deleteItem.title}}
      </h1>
      <p>
        Are you sure you want to delete this item ?
      </p>
      <form action="{{url_for('DeleteItem', item_category = item_category, item_title = deleteItem.title)}}" method="POST">
        <input type="submit" name="Delete">
      </form>
    </div>
  </div>
{% endblock %}
