{% extends 'Header.html' %}

{% block content %}
<div class="row">
  <div class="col-md-2 white center fullheight border-right">
    <h1>Catalog</h1>
    <a href="{{url_for('gdisconnect')}}">logout</a>
    <table class="center fullwidth category-margin">
      <tr>
        <td>
          <h2>Categories</h2>
        </td>
      </tr>
      {% for category in categories %}
      <tr>
        <td>
          <a href="{{url_for('ShowItems', category = category.category)}}">{{category.category}}</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-md-10 white fullheight">
    <h1>Edit {{editedItem.title}}</h1>
    <form action="{{url_for('EditItem', item_category = item_category, item_title = editedItem.title)}}" method="POST">
      Item Title:
      <input type="text" name="title" value="{{editedItem.title}}"><br>
      Item Description:
      <input type="text" name="description" value="{{editedItem.description}}"><br>
      Item Category:
      <select name="category_name">
        {% for category in categories %}
        <option value="{{category.category}}">{{category.category}}</option>
        {% endfor %}
      </select><br>
      <input type="submit" name="Submit">
    </form>
  </div>
</div>
{% endblock %}
