{% extends 'Header.html' %}

{% block content %}
<div class="row">
  <div class="col-md-2 white center fullheight border-right">
    <h1>Catalog</h1>
    <a href="{{url_for('gdisconnect')}}">logout</a>
    <table class="center fullwidth category-margin">
      <tr>
        <td>
          <h2>Categories</h2>
        </td>
      </tr>
      {% for category in categories %}
      <tr>
        <td>
          <a href="{{url_for('ShowItems', category = category.category)}}">{{category.category}}</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-md-10 white fullheight">
    <table class="">
      <tr>
        <td>
          <h1>Recent Items</h1>
        </td>
      </tr>
      {% for item in items %}
      <tr>
        <td>
          {{item.title}} ({{item.category_name}})
        </td>
      </tr>
      {% endfor %}
    </table>
    <br>
    <div>
      <a href="{{url_for('AddItem')}}">Add Item</a>
    </div>
  </div>
</div>
{% endblock %}
