{% extends 'Header.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-2 white center fullheight border-right">
      <h1>Catalog</h1>
      <a href="{{url_for('Login')}}">login</a>
      <table class="center fullwidth category-margin">
        <tr>
          <td>
            <h2>Categories</h2>
          </td>
        </tr>
        {% for category in categories %}
        <tr>
          <td>
            <a href="{{url_for('ShowItems', category = category.category)}}">{{category.category}}</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="col-md-10 white fullheight">
      <h1>
        We currently only support Google+ login
      </h1>
      <div id="signinButton">
        <span class="g-signin"
        data-scope="openid email"
        data-clientid="242627306188-rri577eh2fi6gcjjkaonbr8as333kkd6.apps.googleusercontent.com"
        data-redirecturi="postmessage"
        data-accesstype="offline"
        data-cookiepolicy="single_host_origin"
        data-callback="signInCallback"
        data-approvalprompt="force"
        >
        </span>
      </div>
      <h3>
        We are currenly working on adding more login sources
      </h3>
    </div>
  </div>
  <div id="results">
    <script>
      function signInCallback(authResult){
        if(authResult['code']){
          $('#signinButton').attr('style', 'display:none');
          $.ajax({
            type: 'POST',
            url: '/gconnect?state={{STATE}}',
            processData: false,
            contentType: 'application/octet-stream; charset=utf-8',
            data: authResult['code'],
            success: function(result){
              if(result){
                $('#results').html('Login Successful!</br>' + result + '</br>Redirecting...')
                setTimeout(function(){
                  window.location.href = "/home";
                }, 4000)
              } else if (authResult['error']){
                console.log('There was an error: ' + authResult['error']);
              } else {
                $('#result').html('Failed to make a server-side call Check your configuration and console.');
              }
            }
          });
        }
      }
    </script>
  </div>
{% endblock %}
