.content{
  font-family: Calibri, Helvetica;
  height: 100%;
  width: 100%;
  background-color: lightgrey;
  margin-left: 0px;
  margin-top: 0px;
}

.white{
  background-color: white;
}

.center{
  text-align: center;
}

.fullwidth{
  width: 100%;
}

.fullheight{
  height: 100%;
}

.border-right{
  border-right: 2px solid grey;
}

.item-margin{
  margin-top: 25px;
}

.category-margin{
  margin-top: 25px;
}
